<!--The content below is only a placeholder and can be replaced.-->

<p> test rxjs service</p>
<div>
  <button (click)="loadme()"> subscribe </button>
</div>
<div>
  <button (click)="loadme1()"> load </button>
</div>
<div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
  <div class="flex items-start justify-between">
    <div id="chart">
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke" [dataLabels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis"
        [labels]="chartOptions.labels" [legend]="chartOptions.legend" [title]="chartOptions.title"
        [subtitle]="chartOptions.subtitle"></apx-chart>
    </div>
  </div>
  <div class="mt-8">
    <mat-button-toggle-group class="flex justify-end" value="Chart1" [(ngModel)]="isEnabled">
      <mat-button-toggle [value]=true>Chart1</mat-button-toggle>
      <mat-button-toggle [value]=false>Chart2</mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="!isEnabled" id="chart2" value="Chart1">
      <div id="chart">
        <apx-chart [series]="secondchartOptions.series" [chart]="secondchartOptions.chart"
          [labels]="secondchartOptions.labels" [responsive]="secondchartOptions.responsive"></apx-chart>
      </div>
    </div>
    <div>

      <div *ngIf="isEnabled" id="chart3" value="Chart1">
        <apx-chart [series]="thirdchartOptions.series" [chart]="thirdchartOptions.chart"
          [plotOptions]="thirdchartOptions.plotOptions" [xaxis]="thirdchartOptions.xaxis"></apx-chart>

      </div>
    </div>
  </div>
</div>
